# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files
*.rsuser

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Build results
#*.dll
*.exe
*.pdb

# NuGet
*.nupkg
*.snupkg
packages/
.nuget/

# Visual Studio Code
.vscode/

# JetBrains Rider
.idea/
*.sln.iml

# Logs
logs/
*.log

# User Secrets
secrets.json
